body {
  background-image: url(../../resources/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(200, 200, 200, 0.7);
  h1 {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-size: 100px;
  }
  border: solid 1px white;
  -webkit-box-shadow: 4px 11px 206px 1px rgba(255,255,255,1);
  -moz-box-shadow: 4px 11px 206px 1px rgba(255,255,255,1);
  box-shadow: 4px 11px 206px 1px rgba(255,255,255,1);
}

#meal {
  background-color: rgba(200, 200, 200, 0.7);
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: solid 1px white;
  -webkit-box-shadow: 4px 11px 206px 1px rgba(255,255,255,1);
  -moz-box-shadow: 4px 11px 206px 1px rgba(255,255,255,1);
  box-shadow: 4px 11px 206px 1px rgba(255,255,255,1);
}

.btn-success {
  background-color: white;
  color: black;
}

h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
}
